@font-face {
  font-family: "sans-forgetica";
  src: url(../../assets/SansForgetica-Regular.otf) format("truetype");
}

.header {
  font-family: sans-forgetica;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  background-color: rgba(34, 134, 195, 0.8);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  color: white;
  z-index: 100;
}

#logo {
  position: relative;
  float: left;
}

@media only all and (min-width: 1174px) {

  .header p {
    font-weight: bold;
    font-size: 14px;
  }

  #author {
    margin-top: -15px;
    position: relative;
    float: left;
    margin-left: 80px;
  }

  .sub {
    font-size: 12px;
  }

  #logo img {
    height: 45px;
  }

  #login {
    float: right;
    margin-right: 35px;
  }

}

@media only all and (min-width: 734px) and (max-width: 1174px) {

  .header p {
    font-weight: bold;
    font-size: 10px;
  }

  #author {
    margin-top: -15px;
    position: relative;
    float: left;
    margin-left: 30px;
  }

  .sub {
    font-size: 8px;
  }

  #logo img {
    height: 40px;
  }

  #login {
    float: right;
    margin-right: 25px;
  }
}

@media only all and (max-width: 734px) {

  .header p {
    font-weight: bold;
    font-size: 9px;
  }

  #author {
    margin-top: -15px;
    position: relative;
    float: left;
    margin-left: 20px;
  }

  .sub {
    font-size: 7px;
  }

  #logo img {
    height: 30px;
  }

  #login {
    float: right;
    margin-right: 20px;
  }

}

#sign-in-form > * {
  margin: 20px;
}

#sign-up-form > * {
  margin: 20px;
}

