.main {
  margin: 10px;
  box-shadow: 0 0 8px #2286c3;
  height: 600px;
  /*background-color: rgba(0, 0, 127, 0.2);*/
  background-image: url("../../assets/ricardo.gif");
  background-size: cover;
  border-radius: 10px;
}

