<div class="main">
  <div class="io">
    <div class="data_input">

    </div>
    <div id="script_output">

    </div>
  </div>

  <div id="computed_result">
    <canvas id="result"></canvas>
  </div>
  <form>
    <!--<h:commandButton action="#{navigationController.processStartPage}" value="Start page">-->
      <!--<f:param name="pageId" value="start"/>-->
    <!--</h:commandButton>-->
  </form>
</div>
<!--<h:inputText readonly="true" id="connectionState">-->
<!--</h:inputText>-->
<div class="main" id="footer">
  <p id="educator">Письмак А.Е.</p>
  <p id="info">Санкт-Петербург 2018 год</p>
</div>
<div id="warning">
  <p>Радиус области ещё не задан<br/>Введите значение в поле R</p>
</div>
