@import '../node_modules/primeng/resources/themes/luna-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url("assets/wallpaper.jpg");
  background-size: cover;
}

* {
  font-family: sans-forgetica;
}
