@import '../node_modules/primeng/resources/themes/bootstrap/theme.css';

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url("assets/wallpaper.jpg");
  background-size: cover;
}

.main-block {
  margin-top: 10px;
}
